<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201547087618-6t3sfs110cjepr2gndn6obehd6rlg6h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201547087618-6t3sfs110cjepr2gndn6obehd6rlg6h8</string>
	<key>API_KEY</key>
	<string>AIzaSyBbQV_tmgmVUeIaKlthYu1UDkV_71ZimgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>201547087618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lime.dangle</string>
	<key>PROJECT_ID</key>
	<string>dangle-48f07</string>
	<key>STORAGE_BUCKET</key>
	<string>dangle-48f07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201547087618:ios:a2b7277980d7a7110f0c1b</string>
</dict>
</plist>